<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'winter/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Snowball</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'winter/cover.css' %}" rel="stylesheet">

 
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Snowball</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <img src="{% static 'winter/footer.png' %}">
          <div class="inner cover">
            <h1 class="cover-heading">Success!</h1>
            <p class="lead">Scheduling information from future e-mails sent to your mailbox will be added to your calendar.</p>

          </div>
        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
